.addRemoveWrapper{
    display: inline-block;
    background-color: rgb(41, 218, 109);
    margin : 10px 30px;
}

.addRemoveWrapper button{
    background-color: rgb(34, 172, 172);
    color: white;
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 4px;
    
}
